@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* configs gerais */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
}

:root{
    --bg-color: #993399;
    --bg-header: black;
    --color-text: white;
}

/* header */

header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--bg-header);
}

.header-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.menu{
    visibility: hidden;
}

.header-container img{
    width: 120px;
}

ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    margin: 15px;
}

ul li a{
    text-decoration: none;    
    transition: all .3s ease;
}

ul li a:hover{
    color: rgb(134, 209, 134);
}

ul li a, .traço{
    font-weight: 600;
}

/* section */

section, .content{
    display: flex;
    width: 100%;
}

.content{
    flex-direction: column;
    margin: auto;
    padding: 40px;
}

.title-content{
    margin-top: 50px;
}

.title-content h1{
    font-size: 35px;
    font-weight: 700;
}

.sub-title-content{
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: '1px';
}

.title-content h1,.sub-title-content,.small-content p{
    text-align: initial;
}

.title-content, .sub-title-content,.btn-content,.small-content{
    margin-left: 15%;
}

ul li a, .title-content h1, .sub-title-content, .btn-assinar, .btn-planos,.small-content p, .traço{
    color: var(--color-text);  
}

.btn-content,.small-content{
    margin-top: 40px;
}

.content, .img-spotify{
    background-color: var(--bg-color);
}

.btn-content .btn-assinar{
    padding: 15px;
    width: 250px;
}

.btn-assinar{
    outline: none;
    background-color: var(--bg-header);
}

.btn-content .btn-planos{
    padding: 12px;
    margin-left: 12px;
    border: 2px solid var(--color-text);
    width: 160px;
    background-color: transparent;
}

.btn-assinar, .btn-planos{
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;/*deixar maiusculo */
    cursor: pointer;
}

.btn-assinar:hover{
    transform: scale(1.1);
}

.btn-planos:hover{
    transform: scale(1.1);
    background-color: #762e76;
}

.small-content p{
    font-size: 12px;
}

.img-spotify{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 80%;
    padding-right: 150px;
}

.img-spotify img{
    width: 70%;
    margin-right: 50px;
    box-shadow: 2px 2px 10px #0000002b;
}

/* section de conteudo */

.section-info{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #fff;
    margin-bottom: 50px;
}

.title-section-info{
    margin: auto;
    text-align: center;
    margin-top: 80px;
}

.title-section-info h2{
    font-size: 35px;
    font-weight: 900;
    letter-spacing: "1px";
}

.img-section-info-container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.img-section-info{
    display: flex;
    justify-content: center;
}

.imagens-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.imagens-info img{
    width: 150px;
}

.text-info{
    margin-top: 20px;
    margin-left: 15px;
    /* text-align: initial; */
}

.text-info span{
    font-size: 18px;
    font-weight: 700;
}

.text-info p{
    margin-top: 10px;
}

/* cards */

.section-plan{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #eee;
    padding-bottom: 100px;
}

.title-plan{
    text-align: center;
    margin-top: 20px;
}

.title-plan h2{
    font-size: 30px;
    font-weight: 600;
}

.title-plan p{
    font-size: 18px;
    margin-top: 8px;
}

.card-area{
    display: flex;
    justify-content: center;
    /* margin: auto; */
    margin-top: 50px;
}

.cards{
    background-color: var(--color-text);
    width: 300px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.card-plan-info{
    padding: 10px;
}

.card-plan-info span{
    background-color: rgb(13, 114, 234);
    color: var(--color-text);
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
}

.box-transparent{
    padding: 2px;
    color: var(--color-text);
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: -2px;
    width: 100%;
}

.box-transparent span{
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: rgb(13, 114, 234);
    border: 1px solid rgb(13, 114, 234);
    font-size: 15px;
}

.card-plan-info h2{
    font-size: 20px;
    margin-top: 10px;
}

.card-plan-info p{
    margin-bottom: 40px;
    font-size: 18px;
}

.cards ul{
    display: inline-block;
    margin-top: 16px;
}

.cards ul li{
    margin-top: -3px;
    text-align: initial;
    font-size: 17px;
}

.cards ul li::before{
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url(../imagens/verified.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cards .underline::after{
    content: "";
    position: absolute;
    height: .5px;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.874);
}

.btn-card-plan{
    display: flex;
    justify-content: center;
}

.btn-card-plan .btn-assinar{
    padding: 10px;
    width: 200px;
}

.text-card-plan{
    padding: 10px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.752);
}

.text-card-plan a{
    color: rgba(0, 0, 0, 0.752);
}

#card1 .card-plan-info p{
    margin-bottom: 65.5px;
}

#card1 .btn-card-plan{
    margin-top: 180px;
}

#card2 .btn-card-plan{
    margin-top: 218px;
}

#card3 .btn-card-plan{
    margin-top: 17px;
}

#card4 .btn-card-plan{
    margin-top: 150px;
}

/*footer*/

.footer{
    background-color: var(--bg-header);
    color: var(--color-text);
    margin: auto;
    height: 68vh;
}

.nav-footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.ul-footer{
    display: flex;
    width: 98%;
    padding: 15px;
    margin: 20px 20px;
}

.footer-logo{
    width: 200px;
    padding: 10px;
}

.footer-logo img{
    width: 130px;
}

.ul-footer-container{
    display: flex;
    width: 200%;
}

.ul-footer-info{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    width: 50%;
    margin: 10px;
}

.ul-footer-info span{
    margin: 30px 0px 22px;
    text-transform: uppercase;
    color: rgb(168, 168, 168);
    font-size: 15px;
    font-weight: 700;
}

.ul-footer-info li{
    list-style: none;
    text-transform: capitalize;
    margin: 10px 0px;
    font-weight: 500;
}

.ul-footer-info li a{
    text-decoration: none;
    color: var(--color-text);
}

.ul-footer-info li a:hover{
    color: rgb(134, 209, 134);
}

.social-network{
    width: 100%;
}

.social-network ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding-top: 40px;
}

.social-network ul li{
    list-style: none;
    margin: 6px;
}

.social-network i{
    font-size: 24px;
    padding: 20px;
    border-radius: 50%;
    background-color: #3a3a3a;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-footer-country, .copyright{
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
    width: 100%;
    text-transform: capitalize;
    color: rgb(168, 168, 168);
    font-size: 12px;
}

.nav-footer-end{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 80px;
    justify-content: flex-start;
}

.nav-footer-end ul li a{
    font-size: 12px;
    font-weight: 400;
    color: rgb(168, 168, 168);
    text-transform: capitalize
}

.nav-footer-end ul li a:hover{
    color: lime;
}

/* ==================MEDIA QUERIES================== */

@media screen and (max-width: 1292px){
    #card1 .card-plan-info span{
        font-size: 14.5px;
    }
}

@media screen and (max-width: 1284px){
    .cards ul li{
        font-size: 16px;
    }
}

@media screen and (max-width: 1204px) {
    /* media query para a imagem */
    section{
        display: flex;
        flex-direction: column;
    }

    .img-spotify{
        width: 100%;
        padding-right: 0px;
    }

    .img-spotify img{
        margin: auto;
        width: 40%;
    }

    .title-content, .sub-title-content,.btn-content,.small-content{
        margin-left: 10%;
    }

    .imagens-info img{
        width: 130px;
    }

    .card-area{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards{
        width: 460px;
        padding: 15px;
        position: relative;
    }

    .box-transparent{
        width: 70%;
    }

    #card1 .btn-card-plan,
    #card2 .btn-card-plan,
    #card4 .btn-card-plan{
        margin-top: 10px;
    }

    .img-section-info-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .imagens-info{
        display: flex;
        flex-direction: row;
    }

    .text-info{
        text-align: initial;
    }

    .img-section-info{
        display: flex;
        justify-content: initial;
    }

    .footer{
        height: 85%;
    }

    .ul-footer-info{
        padding: 0px 7px;
    }

    .ul-footer-container{
        display: flex;
        width: 100%;
    }

    .ul-footer{
        display: flex;
        flex-direction: column;
    }

    .ul-footer-info li{
        font-size: 14px;
    }

    .social-network {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width:980px) {

    .text-info span{
        font-size: 17px;
    }

    .text-info p{
        font-size: 16px;
    }

    .footer{
        height: 84vh;
    }

    .ul-footer-container{
        width: 100%;
    }

    .social-network ul {
        display: flex;
        justify-content: flex-start;
    }

    .nav-footer-end {
        padding: 0px 0px;
    }
}

@media screen and (max-width:836px) {
    .text-info span{
        font-size: 17px;
    }

    .text-info p{
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    /* media query para botoes e menu*/
    ul{
        display: none;
    }

    .menu{
        visibility: visible;
        display: flex;
        justify-content: space-around;
        color: var(--color-text);
        font-size: 30px;
        cursor: pointer;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        padding: 40px;
    }

    .btn-content .btn-assinar,.btn-content .btn-planos{
        width: 100%;
        margin: auto;
    }

    .btn-content .btn-planos{
        margin-top: 8px;
    }

    .img-spotify{
        padding-right: 150px;
    }

    .img-spotify img {
        margin: auto;
        margin-left: 38%;
        width: 55%;
    }

    .footer{
        height: 140%;
    }

    .ul-footer-container{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:760px) {
    .imagens-info img{
        width: 115px;
    }

    .text-info span{
        font-size: 15px;
    }

    .text-info p{
        font-size: 15px;
    }
}

@media screen and (max-width:695px) {
    .text-info span{
        font-size: 14px;
    }

    .text-info p{
        font-size: 15px;
    }
}

@media screen and (max-width:684px) {
    .img-section-info-container{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .text-info{
        text-align: initial;
    }

    .text-info span{
        font-size: 18px;
    }

    .text-info p{
        font-size: 16px;
    }

    .title-section-info h2{
        font-size: 33px;
    }

    .title-plan p{
        font-size: 16px;
    }
}

@media screen and (max-width:601px) {
    .img-spotify{
        padding-right: 115px;
    }
}

@media screen and (max-width:550px) {
    .cards{
        width: 430px;
    }
}